html,
body,
#root {
  height: 100%;
  width: 100%;
}
body {
  font-family: system-ui;
  margin: 0;
}
.heading{
  text-align: center;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.5rem;
  font-size: 3rem;
  font-weight: 800;
  font-stretch: ultra-condensed;
}
